<section class="listagem">
  <div class="container my-5">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="row">
          <h1 class="mb-4">
            <app-header></app-header>
          </h1>
          <div *ngFor="let pokemon of pokemons; let i = index" class="col-md-6">
            <mat-card class="card mb-3 bg-{{getType(pokemon)}}">
              <section class="pokemon__status">
                <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
                <section class="pokemon__image">
                  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png"
                    class="img-fluid" alt="...">
                </section>
                <span *ngFor="let type of pokemon.types" class="badge border rounded-pill me-1 bg-{{getType(pokemon)}}">
                  {{type.type.name | titlecase}}
                </span>
              </section>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <button class="btn btn-sm btn-secondary" (click)="loadMore()">
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></div>
          {{loading ? 'Carregando...' : 'Listar mais'}}
        </button>
      </div>
    </div>
  </div>
</section>
